################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PatronBuilder-TrabajoArq1/Dominio/bin/Debug/net8.0
