################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PatronBuilder-TrabajoArq1/Dominio/bin/Debug/net8.0
/PatronBuilder-TrabajoArq1/Presentacion/bin/Debug/net8.0
/PatronBuilder-TrabajoArq1/.vs/PatronBuilder-TrabajoArq1
